[run]
source = src
omit =
    src/*/migrations/*
    src/*/tests/*
    src/manage.py
    src/config/wsgi.py
    src/config/asgi.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError:
    raise Exception
    except Exception:
    def __str__

[html]
directory = htmlcov 